div {
    /*should apply to all divs*/
    color: purple;
}

 .alert-text {
  color: red;
} 
#title {
    background-color: red;
  }


.read,
.unread {
    /*applies to both read and unread*/
    color: white;
    background-color: black;
  }


.read {
  
  /* several unique declarations */
}

.unread {
  
  /* several unique declarations */
}

.subsection.header {
    /* having both only looks for a component has both*/
    color: red;
  }